<?php

return array(
    'consumer_key' => '',
    'consumer_secret' => '',
    'oauth_token' => '',
    'oauth_token_secret' => '',
    'output_format' => 'array',

    'username' => 'Linus__Torvalds',
    'search' => '#nhl',
);